.app {
  font-family: "Inter", Arial, sans-serif;
  background-color: #fff;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
}

.app__logo {
  width: 38px;
  height: 38px;
  display: block;
}

.app__button {
  transition: opacity .5s;
}

.app__button_invisible {
  display: none;
}

.app__button:hover {
  opacity: .7;
}