.header {
  background-color: #FFF;
  flex-shrink: 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 74px;
  padding: 0 70px;
}

.header_type_landing {
  background-color: #F3C1F8;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__reg-button {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.header__log-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  background-color: #000;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}



@media screen and (max-width: 768px) {
  .header__content {
    padding: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .header__content {
    padding: 0 14px;
  }

  .header__reg-button {
    font-size: 10px;
  }

  .header__log-button {
    width: 54px;
    height: 26px;
    font-size: 10px;
  }
}
